.navigation-modal__wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-property: transform;
  transition-duration: 300ms;
  overflow-y: auto;
  background-color: white;
}